/*
Ceph REST API

This is the official Ceph REST API

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ceph

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// CephfsSnapshotCloneAPIService CephfsSnapshotCloneAPI service
type CephfsSnapshotCloneAPIService service

type ApiApiCephfsSubvolumeSnapshotClonePostRequest struct {
	ctx context.Context
	ApiService *CephfsSnapshotCloneAPIService
	apiCephfsSubvolumeSnapshotClonePostRequest *ApiCephfsSubvolumeSnapshotClonePostRequest
}

func (r ApiApiCephfsSubvolumeSnapshotClonePostRequest) ApiCephfsSubvolumeSnapshotClonePostRequest(apiCephfsSubvolumeSnapshotClonePostRequest ApiCephfsSubvolumeSnapshotClonePostRequest) ApiApiCephfsSubvolumeSnapshotClonePostRequest {
	r.apiCephfsSubvolumeSnapshotClonePostRequest = &apiCephfsSubvolumeSnapshotClonePostRequest
	return r
}

func (r ApiApiCephfsSubvolumeSnapshotClonePostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiCephfsSubvolumeSnapshotClonePostExecute(r)
}

/*
ApiCephfsSubvolumeSnapshotClonePost Create a clone of a subvolume snapshot

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiCephfsSubvolumeSnapshotClonePostRequest
*/
func (a *CephfsSnapshotCloneAPIService) ApiCephfsSubvolumeSnapshotClonePost(ctx context.Context) ApiApiCephfsSubvolumeSnapshotClonePostRequest {
	return ApiApiCephfsSubvolumeSnapshotClonePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CephfsSnapshotCloneAPIService) ApiCephfsSubvolumeSnapshotClonePostExecute(r ApiApiCephfsSubvolumeSnapshotClonePostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CephfsSnapshotCloneAPIService.ApiCephfsSubvolumeSnapshotClonePost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/cephfs/subvolume/snapshot/clone"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.ceph.api.v1.0+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apiCephfsSubvolumeSnapshotClonePostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
