/*
Ceph REST API

This is the official Ceph REST API

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ceph

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// UserPasswordPolicyAPIService UserPasswordPolicyAPI service
type UserPasswordPolicyAPIService service

type ApiApiUserValidatePasswordPostRequest struct {
	ctx context.Context
	ApiService *UserPasswordPolicyAPIService
	apiUserValidatePasswordPostRequest *ApiUserValidatePasswordPostRequest
}

func (r ApiApiUserValidatePasswordPostRequest) ApiUserValidatePasswordPostRequest(apiUserValidatePasswordPostRequest ApiUserValidatePasswordPostRequest) ApiApiUserValidatePasswordPostRequest {
	r.apiUserValidatePasswordPostRequest = &apiUserValidatePasswordPostRequest
	return r
}

func (r ApiApiUserValidatePasswordPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiUserValidatePasswordPostExecute(r)
}

/*
ApiUserValidatePasswordPost Method for ApiUserValidatePasswordPost


        Check if the password meets the password policy.
        :param password: The password to validate.
        :param username: The name of the user (optional).
        :param old_password: The old password (optional).
        :return: An object with properties valid, credits and valuation.
        'credits' contains the password complexity credits and
        'valuation' the textual summary of the validation.
        

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiUserValidatePasswordPostRequest
*/
func (a *UserPasswordPolicyAPIService) ApiUserValidatePasswordPost(ctx context.Context) ApiApiUserValidatePasswordPostRequest {
	return ApiApiUserValidatePasswordPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *UserPasswordPolicyAPIService) ApiUserValidatePasswordPostExecute(r ApiApiUserValidatePasswordPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserPasswordPolicyAPIService.ApiUserValidatePasswordPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/user/validate_password"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.ceph.api.v1.0+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apiUserValidatePasswordPostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
