/*
Ceph REST API

This is the official Ceph REST API

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ceph

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// UserChangePasswordAPIService UserChangePasswordAPI service
type UserChangePasswordAPIService service

type ApiApiUserUsernameChangePasswordPostRequest struct {
	ctx context.Context
	ApiService *UserChangePasswordAPIService
	username string
	apiUserUsernameChangePasswordPostRequest *ApiUserUsernameChangePasswordPostRequest
}

func (r ApiApiUserUsernameChangePasswordPostRequest) ApiUserUsernameChangePasswordPostRequest(apiUserUsernameChangePasswordPostRequest ApiUserUsernameChangePasswordPostRequest) ApiApiUserUsernameChangePasswordPostRequest {
	r.apiUserUsernameChangePasswordPostRequest = &apiUserUsernameChangePasswordPostRequest
	return r
}

func (r ApiApiUserUsernameChangePasswordPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiUserUsernameChangePasswordPostExecute(r)
}

/*
ApiUserUsernameChangePasswordPost Method for ApiUserUsernameChangePasswordPost

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param username
 @return ApiApiUserUsernameChangePasswordPostRequest
*/
func (a *UserChangePasswordAPIService) ApiUserUsernameChangePasswordPost(ctx context.Context, username string) ApiApiUserUsernameChangePasswordPostRequest {
	return ApiApiUserUsernameChangePasswordPostRequest{
		ApiService: a,
		ctx: ctx,
		username: username,
	}
}

// Execute executes the request
func (a *UserChangePasswordAPIService) ApiUserUsernameChangePasswordPostExecute(r ApiApiUserUsernameChangePasswordPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserChangePasswordAPIService.ApiUserUsernameChangePasswordPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/user/{username}/change_password"
	localVarPath = strings.Replace(localVarPath, "{"+"username"+"}", url.PathEscape(parameterValueToString(r.username, "username")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.ceph.api.v1.0+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apiUserUsernameChangePasswordPostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
